

@font-face { font-family: Margin; 
    
    src: url('./fonts/Margin\ DEMO.otf')
   ;
  
 }
 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
 
.container{
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #262b31;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.titleBox{
    color: #000000;
    background-image: url('./images/background_movile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 3rem;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.6);
    height: 80vh;
    width:40%;

}
.titlecontent{
    height: 30%;
}
.title{
font-family: 'Margin';
letter-spacing: 2px;
font-size: 6rem;
margin: 0;
}

.subtitle{
    font-family: 'Quicksand', sans-serif;
    font-weight:700;
    font-size: large;
    font-weight: 300;
  
}
.details{
    font-family: 'Quicksand', sans-serif;
}



@media screen and (max-width: 1200px) {

.details{display: none;}

.container{
    background-image: url('./images/background_movile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 0;
    height: 20vh;
}
.titleBox{
    background-image: none;
    margin: 0;

    width: 100%;
    height: 20vh;
    padding: 0;
    box-shadow: none;
 
}
.titlecontent{
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 0;
  
}
.title{
    font-size: 5rem;
   height: 40%;
}
.subtitle{
    font-size: 15pt;
    font-weight:500;
    margin: 0;
    text-align: center;
}
}

@media screen and (max-width: 300px){
.title{
    font-size: 3rem;
}

}