.container {
    width: 40%;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    justify-content: space-around;

}


.formBox {
    position: relative;
    background-color: #4a3fae;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.6);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    box-sizing: border-box;
}


.form {
    height: 80%;
    width: 80%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formContent {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
}

.formContent label {
    position: absolute;
    background-color: #4a3fae;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    left: 5%;
    top: -20%;
}

.formContent input {
    border: solid 1px #f1f1f1;
    background-color: transparent;
    color: #deb501;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    letter-spacing: 1.5px;
    width: 100%;
    height: 4rem;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}

.submit_btn {
    background-color: #deb501;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
     font-weight: 700;
    border-radius: 10px;
    border: none;
    width: 50%;
    height: 3rem;
    box-shadow: 10px 9px 2px -4px rgba(0,0,0,0.53);
    transition:all ease 0.2s;
}

.submit_btn:hover{
    background-color: #262b31;
    width:52% ;
    box-shadow: 10px 9px 0px -4px #dba800;
    cursor: pointer;
}


.footer1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.singup {
    margin-left: 5%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #deb501;
    text-decoration: underline;

}

/*!errores*/



.localError {
    position: absolute;
    top: 5%;
    font-family: 'Quicksand', sans-serif;
    color: #deb501;
    text-align: center;
}

/*!fin Errores*/


/*Viewer*/
.viewer {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 0;
}

.viewer img {
    width: 50px;
}

/*fin viewer*/



/*?responsive*/

@media screen and (max-width: 1200px) {

    .container {
        width: 100%;
        height: 70vh;
        border: none;
        
        margin-top: 20px;
    }
    
    .formBox {
        position: relative;
        border-radius: 32px 32px 0 0;
        height: 100%;
    }
    
    .submit_btn {
        width: 90%;
        height: 3rem;
    }
    
    .submit_btn:hover{
        width: 90%;
        background-color: #deb501;
        box-shadow: 10px 9px 2px -4px rgba(0,0,0,0.53);
    }
    .formContent {
        width: 90%;

    }

    .formContent input {
        height: 3.5rem;
    }
}