.container{
    background-color: #191a19;
    box-sizing: border-box;
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  
}

.logo img {
    width: 40%;
}

@media screen and (max-width: 1500px) {

  .text{display: none;}
}