@font-face {
    font-family: Margin;
    src: url('./fonts/Margin\ DEMO.otf');

}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    background-color: #262b31;
    box-sizing: border-box;
}

.titleContent {
    color: #000000;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 80vh;
    width: 40%;
    background-image: url('./images/background_movile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 3rem;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.6);
}

.title {
    font-family: 'Margin';
    letter-spacing: 2px;
    font-size: 6rem;
    margin-top: 0%;
}

.subtitle {
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    font-weight: 500;
    margin-top: -10%;
}

.formBox {
    position: relative;
    background-color: #4a3fae;
    width: 40%;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.6);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.form {
    height: 80%;
    width: 80%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.formContent {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
}

.formContent label {
    color: white;
    position: absolute;
    background-color: #4a3fae;
    padding-left: 5px;
    padding-right: 5px;
    left: 5%;
    top: -20%;
}

.formContent input {
    border: solid 1px #ffffff;
    background-color: transparent;
    color: #deb501;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    letter-spacing: 1.5px;
    width: 100%;
    height: 4rem;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}

.submit_btn {
    background-color: #deb501;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    width: 50%;
    height: 3rem;
    box-shadow: 10px 9px 2px -4px rgba(0, 0, 0, 0.53);
    transition: all ease 0.2s;
}

.footer {
    width: 100%;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;

}

.login {
    margin-left: 5%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15pt;
    color: #deb501;
    text-decoration: underline;
}

/*errroes*/
.localError {
    position: absolute;
    top: 5%;
    font-family: 'Quicksand', sans-serif;
    color: #deb501;
    text-align: center;
}


/*responsive*/


@media screen and (max-width: 1200px) {

    .container {
        background-image: url('./images/background_movile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        padding: 0;


    }

    .titleContent {
        background-image: none;
        box-shadow: none;
        color: #000000;
        display: grid;
        row-gap: 20px;
        justify-content: center;
        height: 20vh;
        width: 100%;

    }



    .title {
        font-family: 'Margin';
        letter-spacing: 4px;
        margin: 0;
        font-size: 4rem;
        text-align: center;
    }

    .subtitle {
        text-align: center;
        font-size: smaller;
    }


    .formBox {
        position: relative;
        width: 100%;
        padding-top: 10%;
        padding-bottom: 5%;
        border-radius: 20px 20px 0 0;
    }

    .submit_btn {
        width: 90%;
        height: 3rem;
    }

    .formContent {
        width: 90%;

    }

    .formContent input {
        height: 3.5rem;
    }

    .footer {
        width: 100%;
    }

}

@media screen and (max-width:300px) {
    .title {
        font-size: 3rem;
    }

    .submit_btn {
        font-size: 10pt;
    }

    .formContent label {
        font-size: 10pt;
    }
}